/*

White: white
Black: #151515
Yellow: #F0C150

font-family: 'Lora', serif;
font-family: 'Josefin Sans', sans-serif;

*/


/* ---------- ========== FULL PAGE EFFECTS ========== ---------- */
body {
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: black;
    letter-spacing: 3px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: black;
}

h3 {
    margin-top: 15px;
    font-family: 'Lora', serif;
    font-size: 1.2em;
    text-align: center;
    color: #F0C150;
}

h4 {
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: .8em;
    text-align: center;
    letter-spacing: 1px;
    color: white;
}

p a {
    font-weight: 400;
    color: #F0C150;
        
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

p a:hover {
    color: black;
    text-decoration: none;
}

.hideme {
    opacity:0;
}

/* ---------- ========== LANDING PAGE START ========== ---------- */

header {
    position: relative;
}

#homepage {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

#homepageText {
    position: absolute;
    margin: 100px 0px 100px 100px;
    padding: 0px;
    width: auto;
    height: auto;;
    bottom: 0px;
}

/* ---------- Introduction (Left Side) ---------- */

#introduction {
    display: inline-block;
}

#name {
    display: block;
    margin: 20px 0;
    padding: 0px 5px 0px 5px;
    border-bottom: 20px solid #F0C150;
    
    font-family: 'Lora', serif;
    font-weight: 700;
    line-height: 5px;
}

#period {
    position: absolute;
    padding-left: 10px;
}

#slogan {
    display: block;
}

/* ---------- Navigation Bar ---------- */

#navbar {
    display: block;
    margin-top: 40px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline;
    float: left;
    margin-right: 40px;
    width: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: .7em;
    color: #888;
    line-height: 25px;
    letter-spacing: 3px;
}

#navbar ul li a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: black;
    
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#navbar ul li a:hover {
    color: #F0C150;
    text-decoration: none;
}

/* ---------- Abstract Shapes (Right Side) ---------- */

#mainRect{
    position: absolute;
    margin: 70px 25px 25px 60px;
    height: calc(100vh - 100px);
    min-height: 350px;
    width: calc(100% - 105px);
    background-color: #F0C150;
}

#mainBorder {
    position: absolute;
    margin: 25px 25px 25px 15px;
    height: calc(100vh - 100px);
    min-height: 350px;
    width: calc(100% - 100px);
    background-color: transparent;
    border: 15px solid #151515;
}

.innerDropShadow {
    -moz-box-shadow: inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow: inset 0 0 20px #000000;
}

/* ---------- Media Screen Edits ---------- */

@media screen and (max-width: 1400px){
    #navbar ul li {
        display: block;
        float: none;
    }
}

@media screen and (max-width: 992px){
    #homepageTextArea {
        height: 100vh;
    }
    
    #homepageText {
        top: 0px;
        bottom: 0px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 100px;
        height: 315px;
    }
    
    #abstractShapes {
        display: none;
    }
}

@media screen and (max-width: 576px){
    #homepageText {
        top: 0; bottom: 0; left: 0; right: 0;
        margin: auto;
        width: 290px;
    }
    
    h1 {
        font-size: 1.7em;
    }
    
    h2 {
        font-size: .8em;
    }
    
    #name {
        margin: 15px 0;
        padding: 0px 5px 0px 5px;
        border-bottom: 15px solid #F0C150;
    }
}

@media screen and (max-height: 500px){
    #homepageText {
        margin-top: 100px;
        margin-bottom: 100px;
        top: 0px;
        bottom: auto;
    }
}

/* ---------- ========== LANDING PAGE END ========== ---------- */


/* ---------- ========== WORK START ========== ---------- */

#workpage {
    position: relative;
    margin-top: 150px;
    margin-bottom: 50px;
}

.portfolioWorkArea {
    position: relative;
    height: 100%;
    margin: 25px;
    padding: 0px;
    background-color: #e5e5e5;
}

.work {
    position:relative;
}

.workOverlay {
    display:none;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: auto;
    padding-top: 35px;
    background: #151515;
    opacity: 0;
    z-index: 1;
}

.work:hover .workOverlay{
    display:block;
    opacity: 1;
}

.overlayElements {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    width: 75%;
    height: 75%;
}

.icon {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

@media screen and (max-width: 1400px){
    .icon {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 992px){
    h3 {
        font-size: 2em;
    }
    
    h4 {
        font-size: 1.2em;
    }
    
    .icon {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 768px){
    h3 {
        font-size: 1.2em;
    }
    
    h4 {
        font-size: 0.8em;
    }
    
    .icon {
        margin-top: 25px;
        margin-bottom: 50px;
    }
}

/* ---------- ========== WORK END ========== ---------- */


/* ---------- ========== ABOUT START ========== ---------- */

#aboutpage {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ---------- ========== ABOUT END ========== ---------- */


/* ---------- ========== FOOTER START ========== ---------- */

footer {
    padding: 100px;
    background-color: #151515;
    color: white;
}

#footerText {
    text-align: center;
    font-size: .8em;
}

#footerText a {
    font-weight: 400;
    letter-spacing: 3px;
    color: white;
    
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#footerText a:hover {
    text-decoration: none;
    color: #F0C150;
}

@media screen and (max-width: 576px){
    #footerText a {
        font-size: .8em;
    }
}

/* ---------- ========== FOOTER END ========== ---------- */