/* box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.2); */

/* ---------- || NAVBAR || ---------- */

.showDiv {
    display: inline-block !important;
}

.noScroll {
    overflow-y: hidden !important;
}

#navBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: #fbfbfb;
    z-index: 99;
    
    -moz-transition: background-color 0.3s ease-in-out 0s;
    -ms-transition: background-color 0.3s ease-in-out 0s;
    -o-transition: background-color 0.3s ease-in-out 0s;
    -webkit-transition: background-color 0.3s ease-in-out 0s;
    transition: background-color 0.3s ease-in-out 0s;
}

nav {
    position: absolute;
    top: 12px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1750px;
}

#navBar ul {
    margin: 12px 0px 0px 0px;
    padding-left: 0px;
    list-style-type: none;
    overflow: hidden;
}

#navBar ul li {
    float: left;
}

#navBar ul li a {
    position: relative;
    display: block;
    margin: 0px 10px;
    padding: 10px;
    
    font-size: 1.25em;
    font-weight: 400;
    color: #222;
    text-align: center;
    text-decoration: none;
    line-height: 1.5;
    
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#navBar ul li a:hover {
    text-shadow: 0 0 .8px #222, 0 0 .8px #222;
}

.navDivider {
    font-size: 2em;
    font-weight: 400;
    color: #222;
    line-height: 1.75;
}

/* ---------- || HAMBURGER NAV MENU || ---------- */

#hamburgerMenuIcon {
    position: fixed;
    display: none;
    top: 20px;
    right: 10px;
    
    z-index: 1000;
}

@media screen and (max-width: 768px){
    #hamburgerMenuIcon {
        display: inline-block;
    }
    
    #navBar ul {
        display: none;
    }
}

#hamMenu {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: #222;
    color: white;
    
    z-index: 999;
}

.hamLink {
    display: block;
    padding: 20px 0px;
    
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    color: white;
    
    -moz-transition: color 0.3s ease-in-out 0s;
    -ms-transition: color 0.3s ease-in-out 0s;
    -o-transition: color 0.3s ease-in-out 0s;
    -webkit-transition: color 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s;
}

.hamLink:hover {
    text-decoration: none;
    color: #FFE39B;
}

#mainNavHam {
    margin-top: 100px;
}

/* ---------- || WORK || ---------- */
#workContent {
    margin-top: 150px;
}

#workContent h1 {
    font-weight: 600;
}

.processDeckBtn {
    background-color: #252525;
    margin: 10px 0px;
    padding: 10px;
    width: 200px;
    
    font-size: 1.3em;
    text-align: center;
}

.processDeckBtn a {
    color: #f5f5f5;
    text-decoration: none;

    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.processDeckBtn a:hover {
    color: #f9c228;
}

.portfolioWorkHeaderImg {
    width: 100%;
    margin: 25px 0px 50px 0px;
}

.box {
    border: 2px solid #252525;
    padding: 10px;
    
    font-weight: 600;
    text-align: center;
    color: #252525;
}

.boxInfo {
    line-height: 3.3;
}

/* Solid border */
hr.solid {
    width: 100%;
    border-top: 3px solid #ccc;
}

#slidesStart h2 {
    margin-top: 50px;
    font-weight: 600;
}

.workImg {
    width: 100%;
    box-shadow: 0px 5px 50px 1px rgba(0, 0, 0, 0.1);
}

.acnhGif {
    margin: 25px 0px;
}

@media screen and (max-width: 992px){
    .acnhGif {
        margin: 0px;
    }
    .acnhGifPortrait {
        margin: 25px 0px;
    }
}