body {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fbfbfb;
}

.fp-tooltip {
    font-family: 'Josefin Sans', sans-serif !important;
}

@media screen and (orientation: portrait){
    #fp-nav {
        position: fixed;
        left: calc(50% - 65px);
        top: auto;
        bottom: -100px;
        width: 33px;
        transform-origin: top left;
        transform: rotate(-90deg);
    }
    
    .fp-tooltip {
        visibility: hidden;
    }
}

/*Header Intro*/
#slideHeader h1 {
    font-size: 4em;
    font-weight: 600;
    
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#slideHeader h2 {
    font-size: 2em;
    font-weight: 400;
    
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/*Nav Name Logo*/
nav h3 {
    margin: 12px 12px 0 20px;
    width: 220px;
    height: 50px;
    float: left;
    
    background-color: #222;
    
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    line-height: 2.3;
    
    color: #f5f5f5;
    
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav h3:hover {
    color: #f9c228;
}

/*Work Title & Info*/
#work h4 {
    padding: 0px 5px;
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    color: #f5f5f5;
}

#work h5 {
    padding: 0px 10px;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: #dddddd;
}

@media screen and (max-width: 992px){
    #work h4 {
        font-size: 2.5em;
    }
    
    #work h5 {
        font-size: 1.7em;
    }
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn{
    0% {
        margin-top: 50px;
        opacity:0;
    }
    100% {
        margin-top: 0px;
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        margin-top: 50px;
        opacity:0;
    }
    100% {
        margin-top: 0px;
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        margin-top: 50px;
        opacity:0;
    }
    100% {
        margin-top: 0px;
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        margin-top: 50px;
        opacity:0;
    }
    100% {
        margin-top: 0px;
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        margin-top: 50px;
        opacity:0;
    }
    100% {
        margin-top: 0px;
        opacity:1;
    }
}

/* ---------- || NAVBAR || ---------- */

.showDiv {
    display: inline-block !important;
}

.noScroll {
    overflow-y: hidden !important;
}

#navBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    z-index: 99;
    
    -moz-transition: background-color 0.3s ease-in-out 0s;
    -ms-transition: background-color 0.3s ease-in-out 0s;
    -o-transition: background-color 0.3s ease-in-out 0s;
    -webkit-transition: background-color 0.3s ease-in-out 0s;
    transition: background-color 0.3s ease-in-out 0s;
}

nav {
    position: absolute;
    top: 12px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1750px;
}

#navBar ul {
    margin: 12px 0px 0px 0px;
    padding-left: 0px;
    list-style-type: none;
    overflow: hidden;
}

#navBar ul li {
    float: left;
}

#navBar ul li a {
    position: relative;
    display: block;
    margin: 0px 10px;
    padding: 10px;
    
    font-size: 1.25em;
    font-weight: 400;
    color: #222;
    text-align: center;
    text-decoration: none;
    line-height: 1.5;
    
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#navBar ul li a:hover {
    text-shadow: 0 0 .8px #222, 0 0 .8px #222;
}

.navDivider {
    font-size: 2em;
    font-weight: 400;
    color: #222;
    line-height: 1.75;
}

/* ---------- || HAMBURGER NAV MENU || ---------- */

#hamburgerMenuIcon {
    position: fixed;
    display: none;
    top: 20px;
    right: 10px;
    
    z-index: 1000;
}

@media screen and (max-width: 768px){
    #hamburgerMenuIcon {
        display: inline-block;
    }
    
    #navBar ul {
        display: none;
    }
}

#hamMenu {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: #222;
    color: white;
    
    z-index: 999;
}

.hamLink {
    display: block;
    padding: 20px 0px;
    
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    color: white;
    
    -moz-transition: color 0.3s ease-in-out 0s;
    -ms-transition: color 0.3s ease-in-out 0s;
    -o-transition: color 0.3s ease-in-out 0s;
    -webkit-transition: color 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s;
}

.hamLink:hover {
    text-decoration: none;
    color: #FFE39B;
}

#mainNavHam {
    margin-top: 100px;
}

/* ---------- || SLIDE 1 HEADER || ---------- */

#slideHeader {
    background-image: url(../img/headerBKG/nmlopez_HeaderBKG_LandscapeT.gif);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

@media screen and (orientation: portrait){
    #slideHeader {
        background-image: url(../img/headerBKG/nmlopez_HeaderBKG_PortraitT.gif);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;

        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
}

#headerText {
    position: absolute;
    top: 40%;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    width: 650px;
    
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

@media screen and (max-width: 768px){
    #slideHeader h1 {
        font-size: 2em;
    }
    
    #slideHeader h2 {
        font-size: 1em;
    }
    
    #headerText {
        top: 45%;
        width: 350px;
    }
}

/* ---------- || SLIDE 2 WORK || ---------- */

#work {
    background-image: url(../img/headerBKG/nmlopez_HeaderBKG_LandscapeB.gif);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

@media screen and (orientation: portrait){
    #work {
        background-image: url(../img/headerBKG/nmlopez_HeaderBKG_PortraitB.gif);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;

        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
}

#workContainer {
    margin-top: 100px;
}

@media screen and (max-width: 768px){
    #workContainer {
        padding-bottom: 100px;
    }
}

.workImgContainer {
    margin: 15px 0px;
    width: 100%;
    overflow: hidden;
    
    background-color: blue;
}

.workImg {
    width: 100%;
    overflow: hidden;
    
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.workOverlay {
    position: absolute;
    background-color: rgb(0, 0, 0, .4);
    opacity: 0;
    
    z-index: 2;
    
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.workOverlay:hover .workImg {
    transform: scale(1.2);
}

.workOverlay:hover {
    opacity: 1;
}


.workIcon {
    margin: 10% 0px 10% 32.5%;
    width: 35%;
}

/* ---------- || SLIDE 3 ABOUT ME || ---------- */
@media screen and (max-width: 768px){
    #aboutmeContainer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
    
.aboutHeader {
    font-size: 2em;
    font-weight: 600;
    
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#aboutme p {
    font-weight: 400;
    
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#aboutme a {
    font-weight: 600;
    color: #e6b122;
    
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#aboutme a:hover {
    color: #eca21d;
    text-decoration: none;
}

.col-lg-4 {
    padding: 0px 30px;
}


/* ---------- || FOOTER || ---------- */

footer {
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 100px;
    background-color: #222;
    text-align: center;
    color: white;
}

@media screen and (orientation: portrait){
    #footerText {
        font-size: 0.8em;
    }
}

#footerNav ul {
    position: relative;
    width: 165px;
    left: 10px;
    right: 0px;
    margin: 35px auto 35px auto;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
}

#footerNav ul li {
    float: left;
    margin: 0 10px;
}

#footerNav ul li a {
    display: block;
    padding: 10px 10px;
    background-color: #111;
    text-align: center;
    font-size: .8em;
    font-weight: 600;
    color: white;
    
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#footerNav ul li a:hover {
    text-decoration: none;
    color: #f9c228;
}