/*
White: #fbfbfb
Black: #222
Pink: #F77F64

font-weight: 300;
font-weight: 400;
font-weight: 700;

-moz-transition: all 0.3s ease-in-out 0s;
-ms-transition: all 0.3s ease-in-out 0s;
-o-transition: all 0.3s ease-in-out 0s;
-webkit-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;

box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.2);

@media screen and (orientation: portrait){
}

@media screen and (max-width: _px){
}

*/


/* ----- Page Style ----- */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background-color: #fbfbfb;
    overflow-x: hidden;
}

section {
    height: auto;
    min-height: 100vh;
    margin-top: -120px;
    padding: 160px 60px 0px 60px;
    vertical-align: auto;
}

.contentColumn {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40vw;
    max-width: 600px;
    min-width: 300px;
}

.contentColumn a {
    text-decoration: underline !important;
    color: #F77F64 !important;
}


/* ----- Type Styles ----- */
h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 1.2em;
    font-weight: 700;
}

h3 {
    font-size: 1.2em;
    font-weight: 700;
    color: #F77F64;
}

p {
    font-size: 1em;
    font-weight: 400;
    color: #777;
}

a {
    text-decoration: none;
}

/* ----- Border Style ----- */
#border {
    position: fixed;
    width: 100%;
    height: 100%;
    outline: 3px solid #222;
    outline-offset: -40px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#borderSparkle {
    position: fixed;
    width: 40px;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
    z-index: 9;
}

/* ----- NavBar Style ----- */
#nmlIcon {
    width: 50px;
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.1);

    -moz-transition: transform 0.3s ease-in-out 0s;
    -ms-transition: transform 0.3s ease-in-out 0s;
    -o-transition: transform 0.3s ease-in-out 0s;
    -webkit-transition: transform 0.3s ease-in-out 0s;
    transition: transform 0.3s ease-in-out 0s;
}

#nmlIcon:hover {
    transform: scale(1.1);
}

#topBar {
    position: fixed;
    top: 0px;
    height: 40px;
    width: 100vw;
    background-color: #fbfbfb;
    z-index:99;
}

nav {
    position: fixed;
    margin: 37px 37px 0px 37px;
    padding: 0px 15px 0px 5px;
    width: calc(100vw - 74px);
    height: 90px;
    background-color: #fbfbfb;
    border-left: 3px solid #222;
    border-top: 3px solid #222;
    border-right: 3px solid #222;
    z-index: 999;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    padding: 14px 16px;

    text-decoration: none;
    text-align: center;
    font-size: .8em;
    font-weight: 700;
    color: #222;
    line-height: 5;

    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav li a:hover {
    font-weight: 700;
    color: #F77F64;
    transform: scale(1.1);
}

.navSlash {
    font-size: 1.2em;
    font-weight: 200;
    line-height: 4.8;
}

/* ----- Header Style ----- */
header {
    width: 100%;
    height: 100vh;
    background-color: #fbfbfb;
}

#nmlIntro {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 40vw;
    min-width: 350px;
    max-width: 650px;
}

/* ----- Work Section Style ----- */
#work {
    padding-top: calc(50vh - (.5 * 30vw));
    height: auto !important;
}

#work h2 {
    width: 10vw;
    text-align: center;
    color: #F77F64;
}

#work ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

#work li {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
}

.workImg {
    width: 10vw;
    height: 25vw;
    outline: 3px solid #222;
    outline-offset: 8px;

    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.workImg:hover {
    transform: scale(1.03);
    outline: 3px solid #222;
    outline-offset: 0px;;
}





#twoDots {
    background-image: url(/img/workPreviews/workPreview_TwoDots-COMINGSOON.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#orchestra {
    background-image: url(/img/workPreviews/workPreview_AotSO-COMINGSOON.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#ritGSO {
    background-image: url(/img/workPreviews/workPreview_RITGSO-COMINGSOON.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mandala {
    background-image: url(/img/workPreviews/workPreview_Mandala-COMINGSOON.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#jubeat {
    background-image: url(/img/workPreviews/workPreview_Jubeat-COMINGSOON.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}





#flipSide {
    margin: 80px auto 40px auto;
    padding: 20px;
    width: 140px;
    height: 60px;
    background-color: #F77F64;
    outline: 3px solid #222;
    outline-offset: 5px;

    -moz-transition-property: background-color, outline, outline-offset, transform;
    -moz-transition-duration: 0.3s;
    -ms-transition-property: background-color, outline, outline-offset, transform;
    -ms-transition-duration: 0.3s;
    -o-transition-property: background-color, outline, outline-offset, transform;
    -o-transition-duration: 0.3s;
    -webkit-transition-property: background-color, outline, outline-offset, transform;
    -webkit-transition-duration: 0.3s;

    transition-property: background-color, outline, outline-offset, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

#flipSide h2 {
    text-align: center;
    color: #fbfbfb;
}

#flipSide:hover {
    background-color: #222;
    transform: scale(1.1);
}


/* ----- About Me Section Style ----- */
#aboutme {
    margin-bottom: -40px;
}

#nmlPfp {
    position: relative;
    top: 0px;
    bottom: 0px;
    margin-right: 20px;
    height: 90px;
    float: left;
}

/* ----- Resume Section Style ----- */
#resume {
    padding-bottom: 100px;
}

#resume a {
    text-decoration: none;
    text-align: center;
    color: #fbfbfb;
}

#resumePDF {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 240px;
    height: 60px;
    padding: 20px;
    background-color: #F77F64;
    outline: 3px solid #222;
    outline-offset: 5px;

    -moz-transition-property: background-color, outline, outline-offset, transform;
    -moz-transition-duration: 0.3s;
    -ms-transition-property: background-color, outline, outline-offset, transform;
    -ms-transition-duration: 0.3s;
    -o-transition-property: background-color, outline, outline-offset, transform;
    -o-transition-duration: 0.3s;
    -webkit-transition-property: background-color, outline, outline-offset, transform;
    -webkit-transition-duration: 0.3s;

    transition-property: background-color, outline, outline-offset, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

#resumePDF:hover {
    background-color: #222;
    transform: scale(1.1);
}

#resume p a:hover {
    color: #222 !important;

    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.skillsTools li {
    font-weight: 300;
    color: #222;
}

/* ----- Footer Style ----- */
footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 37px;
    padding: 7px 40px;
    z-index: 8;
    background-color: #fbfbfb;
}

footer p {
    font-size: .8em;
    font-weight: 700;
}

#footerHeart {
    width: 15px;
    margin-bottom: 3px;
}

@media screen and (max-width: 1025px){
    #work {
        padding-top: 160px;
    }

    .workImg {
        width: calc(10vw * 1.2);
        height: calc(25vw * 1.2);
    }

    #work h2 {
        font-size: .8em;
    }
}

@media screen and (max-width: 768px){
    #work {
        padding-bottom: 80px;
    }

    .workImg {
        width: calc(10vw * 1.7);
        height: calc(25vw * 1.7);
    }

    #work h2 {
        width: calc(10vw * 1.7);
        font-size: .8em;
    }
}

@media screen and (max-width: 560px){
    #borderSparkle {
        width: 30px;
        bottom: 18px;

        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .workImg {
        width: calc(10vw * 3.2);
        height: calc(25vw * 3.2);
    }

    #work h2 {
        width: calc(10vw * 3.2);
        font-size: 1em;
    }

    footer p {
        font-size: .6em;

        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    #footerHeart {
        width: 12px;
    }
}

@media screen and (max-width: 460px){
    .contentColumn {
        min-width: 200px;
    }

    nav {
        height: 60px;
    }

    #nmlIcon {
        width: 30px;
    }

    nav li a {
        padding: 12px 5px 10px 10px;
        font-size: .6em;
        line-height: 3.5;
    }

    .navSlash {
        font-size: 1em;
        line-height: 3.4;
    }

    #nmlIntro {
        min-width: 200px;
    }

    #flipSide {
        width: 180px;
        height: 55px;
        font-size: .7em;
    }

    #resumePDF {
        width: 180px;
        height: 55px;
        font-size: .7em;
    }

    footer p {
        margin: 0px -3px;
        font-size: .415em;
    }

    #footerHeart {
        width: 6px;
    }
}