/*
White: #fbfbfb
Black: #222
Yellow: #FCD79F
Pink: #FFAB90

-moz-transition: all 0.3s ease-in-out 0s;
-ms-transition: all 0.3s ease-in-out 0s;
-o-transition: all 0.3s ease-in-out 0s;
-webkit-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;

box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.2);

@media screen and (orientation: portrait){
}

*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background-color: #f5f5f5;
}

/*Section Header*/
h1 {
    padding-left: 80px;
    font-size: 0.8em;
    font-weight: 700;
    line-height: 8;
}

/*Tag Line*/
h2 {
    margin-top: -20px;
    font-size: 2em;
    font-weight: 400;
    color: #fbfbfb
}

/*Scroll Down*/
h4 {
    margin: 15px 0px 0px -32px;
    font-size: .8em;
    font-weight: 700;
    text-align: center;
    color: #222;

    -moz-transition: color 0.3s ease-in-out 0s;
    -ms-transition: color 0.3s ease-in-out 0s;
    -o-transition: color 0.3s ease-in-out 0s;
    -webkit-transition: color 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s;
}

h4:hover {
    color: #FFAB90;
}

section {
    margin: 0px 20px;
}

@media screen and (max-width: 992px){
    #workContent, #aboutmeContent, #resumeContent {
        padding: 30px;
    }
}

@media screen and (max-width: 767px){
    h2 {
        font-size: 1.2em;
    }

    #headerContent {
        width: 400px !important;
    }
}

/* ---------- NAVIGATION MENU --------- */
nav {
    position: fixed;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 90px;
    z-index: 99;
}

nav ul {
    list-style-type: none;
    margin: 20px 0px 0px 20px;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 14px 16px;

    font-size: 0.8em;
    font-weight: 700;
    color: #222;
    text-align: center;
    text-decoration: none;
    line-height: 1;

    -moz-transition: color 0.3s ease-in-out 0s;
    -ms-transition: color 0.3s ease-in-out 0s;
    -o-transition: color 0.3s ease-in-out 0s;
    -webkit-transition: color 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s;
}

nav ul li a:hover {
    color: #FFAB90;
}

.whiteLinkHover:hover {
    color: #fbfbfb !important;
}

@media screen and (max-width: 767px){
    #navLogo {
        margin-right: 10px !important;
    }

    nav ul li a {
        font-size: 0.6em;
        line-height: 1;
    }
}

#navLogo {
    margin-right: 20px;
    border: 3px solid #222;

    -moz-transition: background-color 0.3s ease-in-out 0s;
    -ms-transition: background-color 0.3s ease-in-out 0s;
    -o-transition: background-color 0.3s ease-in-out 0s;
    -webkit-transition: background-color 0.3s ease-in-out 0s;
    transition: background-color 0.3s ease-in-out 0s;
}

#navLogo:hover {
    background-color: #222;
    color: #fbfbfb;
}

.navLink {
    line-height: 1.4;
}

.navSlash {
    font-size: 1.5em;
    line-height: 2;
}

/* ---------- HEADER SECTION --------- */
#header {
    position: relative;
    height: 100vh;

    -moz-transition: height 0.5s ease-in-out 0s;
    -ms-transition: height 0.5s ease-in-out 0s;
    -o-transition: height 0.5s ease-in-out 0s;
    -webkit-transition: height 0.5s ease-in-out 0s;
    transition: height 0.5s ease-in-out 0s;
}

#headerContent{
    position: absolute;
    display: block;
    left: 0px;
    right: 0px;
    margin: 150px auto 0px auto;
    width: 650px;
    height: 250px;
    opacity: 1;

    -moz-transition: opacity 0.1s ease-in-out 0s;
    -ms-transition: opacity 0.1s ease-in-out 0s;
    -o-transition: opacity 0.1s ease-in-out 0s;
    -webkit-transition: opacity 0.1s ease-in-out 0s;
    transition: opacity 0.1s ease-in-out 0s;
}

#headerBKG {
    position: fixed;
    display: block;
    top: 0px;
    margin: 90px 0px 0px -20px;
    width: calc(100% + 40px);
    height: 300px;
    background: linear-gradient(-45deg, rgba(252, 215, 159) 0%, rgba(255, 171, 144) 100%);

    -moz-transition: top 0.5s ease-in-out 0s, height 0.5s ease-in-out 0s;
    -ms-transition: top 0.5s ease-in-out 0s, height 0.5s ease-in-out 0s;
    -o-transition: top 0.5s ease-in-out 0s, height 0.5s ease-in-out 0s;
    -webkit-transition: top 0.5s ease-in-out 0s, height 0.5s ease-in-out 0s;
    transition: top 0.5s ease-in-out 0s, height 0.5s ease-in-out 0s;
}

.h1Line {
    position: absolute;
    width: 60px;
    height: 50px;
    border-bottom: 2px solid #222;
}

/* Scroll Down Icon */

.scrollLine {
    position: absolute;
    top: 360px;
    left: 50%;
    width: 1px;
    height: 60px;
    border-left: 3px solid #222;
}

#scrollDownAni {
    position: relative;
    left: 0px;
    opacity: 1;

    -moz-transition: left 0.5s ease-in-out 0s, opacity 0.1s ease-in-out 0s;
    -ms-transition: left 0.5s ease-in-out 0s, opacity 0.1s ease-in-out 0s;
    -o-transition: left 0.5s ease-in-out 0s, opacity 0.1s ease-in-out 0s;
    -webkit-transition: left 0.5s ease-in-out 0s, opacity 0.1s ease-in-out 0s;
    transition: left 0.5s ease-in-out 0s, opacity 0.1s ease-in-out 0s;
}

#scrollDown {
    position: absolute;
    top: 420px;
    left: calc(50% - 17.5px);
}

@-webkit-keyframes scroll {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(100px);
    }
}
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(100px);
    }
  }
svg #wheel {
    -webkit-animation: scroll ease 1.5s infinite;
    animation: scroll ease 1.5s infinite;
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* ---------- WORK SECTION --------- */

#work {
    position: relative;
    width: 100%;
    margin-left: 0px;
    padding: 100px 0px 0px;
    background-color: #fdfdfd;
}

.h1LineWork {
    position: absolute;
    width: 60px;
    height: 50px;
    border-bottom: 2px solid #222;
}

#workContent{
    width: 100%;
    max-width: 1160px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    padding-bottom: 100px;
    overflow: hidden;
}

#work .row {
    margin: 25px 0px;
}

@media screen and (max-width: 992px){
    .col-lg-4 {
        margin-bottom: 50px;
    }
}

.workImg {
    width: 100%;
}

#work a {
    text-decoration: none;
}

/* ---------- ABOUT ME SECTION --------- */

#aboutme {
    position: relative;
    width: 100%;
    margin-left: 0px;
    padding-top: 100px;
}

#aboutmeContent{
    width: 100%;
    max-width: 1160px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    padding-bottom: 100px;
}

#aboutme h2 {
    color: #222;
}

/* ---------- RESUME SECTION --------- */

#resume {
    position: relative;
    width: 100%;
    margin-left: 0px;
    padding-top: 100px;
    background-color: #fefefe;
}

#resumeContent{
    width: 100%;
    max-width: 1160px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    padding-bottom: 100px;
}

#viewresumeBtn {
    width: 100%;
    padding: 0px 10px;
    background: linear-gradient(-45deg, rgba(252, 215, 159) 0%, rgba(255, 171, 144) 100%);

    font-weight: 700 !important;
    color: #222;
    text-align: center;
    line-height: 4;

    -moz-transition: color 0.3s ease-in-out 0s;
    -ms-transition: color 0.3s ease-in-out 0s;
    -o-transition: color 0.3s ease-in-out 0s;
    -webkit-transition: color 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s;
}

#viewresumeBtn:hover {
    color: white;
}

#viewresumeBtn p {
    font-weight: 700 !important;
}

#resume a {
    font-weight: 700 !important;
    text-decoration: none;
}

.resumeLink {
    color: #ffab90;
    text-decoration: underline !important;

    -moz-transition: color 0.3s ease-in-out 0s;
    -ms-transition: color 0.3s ease-in-out 0s;
    -o-transition: color 0.3s ease-in-out 0s;
    -webkit-transition: color 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s;
}

.resumeLink:hover {
    color: #de7866;
    text-decoration: underline !important;
}

#resume h2 {
    color: #ffab90;
    font-weight: 700;;
}

#resume p {
    font-weight: 300;
}

#resume ul li {
    font-weight: 300;
}

/* ---------- FOOTER --------- */
footer {
    position: absolute;
    padding-top: 50px;
    width: 100%;
    height: 300px;
    background-color: #222;

    font-weight: 700;
    color: #eee;
    text-align: center;
}

#scrollTopBtn {
    width: 150px;
    margin: 25px auto -10px auto;
    padding: 0px 10px;
    background: linear-gradient(-45deg, rgba(252, 215, 159) 0%, rgba(255, 171, 144) 100%);

    font-weight: 700 !important;
    color: #222;
    text-align: center;
    line-height: 4;

    -moz-transition: color 0.3s ease-in-out 0s;
    -ms-transition: color 0.3s ease-in-out 0s;
    -o-transition: color 0.3s ease-in-out 0s;
    -webkit-transition: color 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s;
}

#scrollTopBtn:hover {
    color: white;
}

footer a {
    text-decoration: none;
}


/* ---------- PROJECT PAGES --------- */
.projectHeader {
    width: 100%;
    margin-bottom: 50px;
}

.projectFinal {
    width: 100%;
    margin-bottom: 25px;
    box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.2);
}

.col-6 {
    margin-top: 25px;
}