/*
--- Brand Colors ---
White: white
Black: #222
Yellow: #F0C150
Dark Yellow: #AD7F0F

Off-White: #eaeaea

--- Brand Fonts ---
font-family: 'Lora', serif;
font-family: 'Josefin Sans', sans-serif;

--- Linear Gradient Highlight ---
background: linear-gradient(transparent 50%, #222 50%, #222 90%, transparent 90%);

*/

body {
    margin: 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 3.7em;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    letter-spacing: 1px;
    color: #222;
}


/* -------------------- LANDING PAGE -------------------- */


/* ---------- Color Box ---------- */

#colorBox {
    height: 100vh;
    background-color: #F0C150;
}

/* ---------- Intro Box ---------- */

.content {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    max-width: 100%;
    width: 100vw;
}

#introBox {
    display: block;
    top: -30px;
    height: calc(100vh - 60px);
    background-color: #eaeaea;
}

#profileImg {
    position: absolute;
    left: 0px;
    
    width: 100%;
    height: 100%;
    background-image: url(); /* --- INSERT IMAGE HERE --- */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#introTextBox {
    position: absolute;
    bottom: 175px;
    left: 50px;
    width: calc(100% - 100px);
}

#introText {
    position: relative;
    display: inline-block;
}

#name {
    display: block;
    margin: 20px 0;
    padding: 0px 5px 0px 5px;
    border-bottom: 20px solid #F0C150;
    
    font-family: 'Lora', serif;
    font-weight: 700;
    line-height: 20px;
}

#period {
    position: absolute;
    padding-left: 10px;
}

#slogan {
    display: block;
}


/* ---------- Navigation Bar ---------- */

#navbar {
    position: absolute;
    display: block;
    left: 50px;
    bottom: 100px;
    z-index: 999;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline;
    float: left;
    margin-right: 40px;
    width: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: .7em;
    color: #777;
    line-height: 25px;
    letter-spacing: 3px;
}

#navbar ul li a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: black;
    background-color: transparent;
    
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#navbar ul li a:hover {
    padding: 8px 8px 5px 8px;
    color: #F0C150;
    background-color: #222;
    text-decoration: none;
}

@media screen and (max-width: 2000px){
    h1 {
        font-size: 3vw;
    }
    
    h2 {
        font-size: 1.5vw;
    }
    
    #name {
        line-height: .5vw;
    }
}

@media screen and (max-width: 1500px){
    #introTextBox {
        bottom: 200px;
    }
    
    #navbar ul li {
        display: block;
        float: none;
    }
}

@media screen and (max-width: 767px){
    #colorBox {
        margin-top: -60px;
        height: calc(100vh - 60px);
    }
    
    #introBox {
        display: none;
    }
}


/* ---------- Header Border ---------- */

#headerBorder {
    position: absolute;
    top: 0px; bottom: 0px; left: 0px; right: 0px;
    margin: auto;
    width: calc(100vw - 140px);
    height: calc(100vh - 130px);
    border: 10px solid #222;
    z-index: 99;
}

#topBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 30px;
    background-color: white;
    z-index: 999;
}

#bottomBar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 30px;
    background-color: white;
    z-index: 999;
}

#bottomBarStay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 30px;
    background-color: white;
    z-index: 999;
}


/* -------------------- ABOUT PAGE -------------------- */

#work {
    position: absolute;
    margin-top: -60px;
    padding: 60px 30px 60px 30px;
    background-color: #eaeaea;
    width: calc(100vw - 77px);
    height: 1000px;
    
    z-index: 9;
}

#work h3 {
    margin-top: 270px;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 3em;
    color: #888;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}



/* ---------- Header Border ---------- */