/*
--- Brand Colors ---
White: white
Off-White: #f1f1f1
Off-Black: #222
Yellow: #f9c228
Dark Yellow: #eca21d

--- Brand Fonts ---
font-family: 'Josefin Sans', sans-serif;

--- Box Shadow ---
box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); --> x, y, blur, color

--- Linear Gradient Highlight ---
background: linear-gradient(transparent 50%, #222 50%, #222 90%, transparent 90%);

*/

body {
    background-color: #f5f5f5;
    overflow-x: hidden;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
}

h2 {
    margin: 25px 0px 25px 0px;;
    padding: 20px 20px 15px 20px;
    background-color: #222;
    
    font-size: 1.4em;
    font-weight: 600;
    color: white;
}

.boldImportant {
    font-weight: 600;
    color: #eca21d;
}

/* ---------- ========== NAVBAR ========== ---------- */
#homeBtn {
    position: absolute;
    left: 162px;
    top: 53px;
    width: 64px;
    height: 20px;
    background-image: url(/img/HomeBtn-BL.png);
    background-repeat: no-repeat;
    background-position: center;
    
    font-size: 1.2em;
    font-weight: 600;
    color: #222;
    text-align: left;
    line-height: 3;
    
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

#homeBtn:hover {
    background-image: url(/img/HomeBtn-YL.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* ---------- ========== VIMEO VIDEO ========== ---------- */

/* Code from https://stackoverflow.com/questions/25302836/responsive-video-iframes-keeping-aspect-ratio-with-only-css */

/* This element defines the size the iframe will take.
   In this example we want to have a ratio of 25:14 */
.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* The height of the item will now be 56.25% of the width. */
}

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/* ---------- ========== WORK PROCESS - TITLE ========== ---------- */

.label {
    padding: 5px 10px;
    border: 2px solid #222;
    
    font-size: 1em ;
}

.label2 {
    margin-left: -60px;
    padding: 5px 0px;
    
    font-size: 1.2em;
    font-weight: 600;
}

@media screen and (max-width: 1200px){
    .label2 {
        margin-left: -25px;
    }
}

@media screen and (max-width: 992px){
    .label2 {
        margin-left: 10px;
    }
}

@media screen and (max-width: 767px){
    .label2 {
        margin-left: 30px;
    }
}

@media screen and (max-width: 576px){
    .label2 {
        margin-left: 0px;
    }
}


#pdfBtn {
    display: block;
    margin: 50px 0px 50px 0px;
    padding: 15px 15px 10px 15px;
    background-color: #f9c228;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    color: #222;
    
    -moz-transition: color 0.5s ease-in-out 0s;
    -ms-transition: color 0.5s ease-in-out 0s;
    -o-transition: color 0.5s ease-in-out 0s;
    -webkit-transition: color 0.5s ease-in-out 0s;
    transition: color 0.5s ease-in-out 0s;
}

#pdfBtn:hover {
    text-decoration: none;
    color: white;
}

/* ---------- ========== WORK PROCESS - GIFS ========== ---------- */

#largeWidthGIFs {
    display: inline-flex;
}

#smallWidthGIFs {
    display: none;
}

@media screen and (max-width: 1200px){
    #largeWidthGIFs {
        display: none;
    }

    #smallWidthGIFs {
        display: inline-flex;
    }
}

/* ---------- ========== WORK PROCESS - FINAL ANIMATION ========== ---------- */


#pdfBtn2 {
    display: block;
    margin: 50px 0px;
    padding: 15px 15px 10px 15px;
    background-color: #f9c228;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    color: #222;
    
    -moz-transition: color 0.5s ease-in-out 0s;
    -ms-transition: color 0.5s ease-in-out 0s;
    -o-transition: color 0.5s ease-in-out 0s;
    -webkit-transition: color 0.5s ease-in-out 0s;
    transition: color 0.5s ease-in-out 0s;
}

#pdfBtn2:hover {
    text-decoration: none;
    color: white;
}