/* Reset values
 * --------------------------------------- */
#fp-nav{
    font-size: 16px;
}
#fp-nav  ul li a span:not(.fp-sr-only){
    left: 0;
    top: 0;
}
#fp-nav  ul li a.active span:not(.fp-sr-only),
#fp-nav  ul li:hover a.active span:not(.fp-sr-only),
#fp-nav  ul li:hover a span:not(.fp-sr-only),
#fp-nav  ul li a span:not(.fp-sr-only){
    margin: 0;
}
#fp-nav ul li {
    height: auto;
}
#fp-nav  ul li a span:not(.fp-sr-only){
    position:relative;
    display: block;
    background: transparent;
}
#fp-nav ul li{
    vertical-align: top;
}

#fp-nav  ul li a.active span:not(.fp-sr-only),
#fp-nav  ul li:hover a.active span:not(.fp-sr-only),
#fp-nav  ul li:hover a span:not(.fp-sr-only),
#fp-nav  ul li a span:not(.fp-sr-only){
    height: 12px;
    width: 12px;
}
#fp-nav  ul li {
    margin: 12px 7px;
}



/* Extension
 * --------------------------------------- */
#fp-nav ul li{
    width: auto;
}
#fp-nav  ul li a{
    width: auto;
    display: table;
    height: auto;
}
#fp-nav  ul li a span:not(.fp-sr-only){
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#fp-nav  ul li:hover a:not(.active) span:not(.fp-sr-only){
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#fp-nav.fp-right ul li .fp-tooltip {
    right: 23px;
}
#fp-nav.fp-left ul li .fp-tooltip {
    left: 23px;
}

/* Colors
 * --------------------------------------- */
#fp-nav  ul li a span:not(.fp-sr-only){
    background: rgba(0,0,0,0.2);
}
#fp-nav  ul li a.active span:not(.fp-sr-only){
    background: #fff;
}
#fp-nav  ul li:hover a:not(.active) span:not(.fp-sr-only){
    background: rgba(255,255,255,0.4);
}

/* Big
 * --------------------------------------- */
.fp-big-nav #fp-nav ul li a.active span:not(.fp-sr-only),
.fp-big-nav #fp-nav ul li:hover a.active span:not(.fp-sr-only),
.fp-big-nav #fp-nav ul li:hover a span:not(.fp-sr-only),
.fp-big-nav #fp-nav ul li a span:not(.fp-sr-only){
    height: 20px;
    width: 20px;
}
.fp-big-nav #fp-nav ul li {
    margin: 25px 7px;
}
.fp-big-nav #fp-nav ul li .fp-tooltip {
    top:3px;
}
.fp-big-nav #fp-nav.fp-right ul li .fp-tooltip {
    right: 30px;
}
.fp-big-nav #fp-nav.fp-left ul li .fp-tooltip {
    left: 30px;
}